<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{{#if page-title}}{{page-title}}{{else}}My fancy website{{/if}}</title>

    <link rel="icon" href="favicon.gif" />
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>
    {{> @partial-block}}
  </body>

</html>
